.carousel-container {
    position: relative;
    margin: auto;
}

.carousel-container .carousel{
    display: none;
    width: 100%;
}

.carousel-container .carousel.image-active{
    display: block;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1 rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.06s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.carousel {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

