<div>
    <div class="bg-black h-[56px]">
      <div class="flex justify-between sm:mx-[5%] md:mx-[7%] mx-[10%]">
        <img src="./../assets/img/Strings/default_manufacturer.png" class="h-[54px] rounded-full">
        <div class="flex p-2"> 
          <app-search></app-search>
          <div class="m-2">
            <mat-slide-toggle >
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      
    </div>
    <div class="h-[40px] bg-[#914ae8]">
      <app-navigation-menu></app-navigation-menu>
    </div>
  
    <app-carousel></app-carousel>
  </div>