<nav class="">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="pt-1">
        <ul class="flex flex-col lg:flex-row list-none ml-auto space-x-12">
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:bg-[#6f33b8]" href="#pablo">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:bg-[#6f33b8]" href="#pablo">
                Latest
              </a>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:bg-[#6f33b8]" href="#pablo">
                Genre
              </a>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:bg-[#6f33b8]" href="#pablo">
                Search
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>